<?xml version="1.0"?>
<ruleset name="LW Scan Coding Standards">
    <description>PHP CodeSniffer ruleset for LW Scan plugin.</description>

    <file>.</file>

    <exclude-pattern>/vendor/*</exclude-pattern>
    <exclude-pattern>/node_modules/*</exclude-pattern>
    <!-- React admin: sources are linted by wp-scripts (ESLint/Prettier), build/ is generated. -->
    <exclude-pattern>/src/*</exclude-pattern>
    <exclude-pattern>/build/*</exclude-pattern>
    <exclude-pattern>/tests/*</exclude-pattern>
    <exclude-pattern>/assets/*</exclude-pattern>
    <exclude-pattern>/bin/*</exclude-pattern>
    <exclude-pattern>/stubs/*</exclude-pattern>

    <arg value="ps"/>
    <arg name="colors"/>

    <rule ref="WordPress">
        <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
        <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames"/>
        <exclude name="Squiz.PHP.CommentedOutCode"/>
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
        <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
        <exclude name="Generic.Commenting.DocComment.MissingShort"/>
    </rule>

    <rule ref="PHPCompatibilityWP"/>
    <config name="testVersion" value="8.0-"/>

    <config name="minimum_wp_version" value="6.0"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="lw-scan"/>
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="lw_scan"/>
                <element value="lw_plugins"/>
                <element value="LightweightPlugins\Scan"/>
            </property>
        </properties>
    </rule>
</ruleset>
